body,
html {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
}
p {
  margin: 0;
}
.menu-bar {
  color: white;
  position: fixed;
  background-color: #000000;
}
.hero-container {
  background: radial-gradient(
      circle closest-corner at center 325px,
      #222831,
      black 20%
    )
    no-repeat;
  transition: all 0.4s ease ease-in-out;
}
.hero-container:hover {
  background: radial-gradient(
      circle closest-corner at center 325px,
      #222831,
      black 60%
    )
    no-repeat;
}

.text-container {
  color: white;
}

.about-container {
  min-height: 80rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.content-section {
  min-height: 50rem;
  color: white;
  background: radial-gradient(
      circle closest-corner at center 325px,
      #222831,
      black 60%
    )
    no-repeat;
  transition: all 0.4s ease ease-in-out;
}
/*about me section*/
.content-section:hover {
  background: radial-gradient(
      circle closest-corner at center 325px,
      #222831,
      black 60%
    )
    no-repeat;
}
.rubrik-section {
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}
.projekt-rubrik {
  padding-bottom: 2rem;
}
.about-rubrik {
  background-color: rgba(0, 0, 0, 0.075);

  min-width: 80%;
}
ul {
  padding-right: 5rem;
  list-style-type: none;
  font-size: 20px;
  padding-left: 2rem;
}
.portrait-container {
}
.portrait-img {
  object-fit: cover;
  max-width: 15rem;
  border-radius: 1rem;
  filter: grayscale(100%);
}
.text-hide {
  font-size: 20px;
  max-width: 30rem;
  max-height: 30rem;
  width: 100%;
  height: 100%;
  padding-left: 32px;
}
.border {
  max-width: 90%;
  width: 100%;
  background-color: white;
  border-top: solid 2px#393e46;
}
.footer {
  width: 100%;
  height: 4rem;
  background-color: black;
  color: white;
}

/*buttons*/

.button-background {
  padding: 1rem;
  border-color: #d65a31;
  border-radius: 0.2rem;
  border-style: solid;
  background-color: #222831;
  color: white;
}
.button-hero {
  padding: 1rem;
  border-color: #d65a31;
  border-radius: 0.3rem;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  margin-top: 5rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
button {
  padding: 1rem;
  border-color: #d65a31;
  border-radius: 0.3rem;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.menu-button:hover {
  background-color: rgba(0, 0, 0, 0.4);

  box-shadow: 5px 5px 20px #6b6b6b;
  transition: ease-in-out 0.3s;
}

/*material icons*/

.material-icons.md-36 {
  font-size: 48px;
  color: #d65a31;
}
.black {
  background-color: black;
}
.display {
  opacity: 0;
  transition: all ease-in-out 1s;
}
.none-display {
  opacity: 1;
}
a:link {
  color: white;
  transition: all 0.5s;
  text-decoration: none;
}
a:hover {
  color: tomato;
}
a:visited {
  border: none;
  text-decoration: none;
}
.git-img {
  color: black;
  border-radius: 1rem;
}
.fab {
  font-size: 30px;
}
.git {
  position: absolute;
  top: 10px;
  right: 20px;
}
.projekt-container {
  max-width: 40rem;
  min-width: 10rem;
  width: 100%;
}
.picture-projekt {
  object-fit: cover;

  width: 100%;
}
