/* colors1 
main container: #222831
button: #d65a31
footer: #393e46
*/


body, html {
    height: 100%;
    margin: 0;
 

     /* font-family: 'Rubik', sans-serif;  */
     font-family: 'Source Sans Pro', sans-serif; 
     font-weight: 700;

}
h1{
    font-family: 'Rubik', sans-serif; 
    
}
p{
    margin: 0;
}
.flex{
    display: flex;
}
.vertical{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.center{
    justify-content: center;
    align-items: center;
}
.margin-top{
    margin-top:0.5rem;
}
.padding-left{
    padding-left: 1rem;
}
.padding-side{
    padding-left: 1rem;
    padding-right: 1rem;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}
.hero-container{
    background-color: #222831 ;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./bilder/solnedgång.JPG"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   
   
.text-container{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

   
    
.menu-bar{
    color: white;
}
   


   
   
/*buttons*/

.button-background{
    padding: 1rem;
    border-color: #d65a31 ;
    border-radius: 0.2rem;
    border-style: solid;
    background-color: #222831;
    color: white ;
    
}
.button-hero{
    padding: 1rem;
    border-color: #d65a31 ;
    border-radius: 0.3rem;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.1);
    color:white;
    margin-top: 5rem;
    font-family:'Source Sans Pro', sans-serif ;
    font-size: 16px;
    font-weight: 700;
}

    

   
.about-container{
    min-height: 60rem;
    background-color: #393e46;
    color: white;
}




/*material icons*/
.material-icons.md-36{
    font-size: 48px;
    color:  #d65a31 ;
}
   
    
/* slide */
   
 .picture-section{
     padding-top: 5rem;
     
 }
 .imgSlideOne{
    max-width: 50rem;
    border-radius: 00.2rem;

 }
.rubrik-section{
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
ul{
    padding-right: 5rem;
    list-style-type:none;
}
